Options -Indexes
Options -MultiViews
RewriteEngine On
RewriteBase /

# Zablokuj dostęp do pliku mailer.php (jeśli wymagane)
# <FilesMatch "(mailer\.php)">
#     Order allow,deny
#     Deny from all
# </FilesMatch>

# Zezwól na dostęp do plików .js tylko z określonego referera
# <FilesMatch "\.(js)$">
#     SetEnvIf Referer "^https?://(www\.)?krukmed24\.pl" allow_js
#     Order allow,deny
#     Allow from env=allow_js
#     Deny from all
# </FilesMatch>

# Obsługa istniejących plików lub katalogów
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Przekierowania dla stron
RewriteRule ^(o-nas|uslugi|opinie|faq|kontakt)/?$ index.html [L]
RewriteRule ^rezerwacje/?$ bookvisit.html [L]
RewriteRule ^polityka-prywatnosci/?$ polityka-prywatnosci.html [L]
RewriteRule ^regulamin/?$ regulamin.html [L]
RewriteRule ^cennik/?$ pricing.html [L]
RewriteRule ^lekarze/?$ doctors.html [L]
RewriteRule ^kariera/?$ carrer.html [L]

# Zezwól na dostęp do plików .php
<FilesMatch "\.php$">
    Order allow,deny
    Allow from all
</FilesMatch>

