Options -MultiViews
RewriteEngine On
RewriteBase /

RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

RewriteRule ^(uslugi|o-nas|faq|kontakt)/?$ index.html [L]
RewriteRule ^rezerwacje/?$ bookvisit.html [L]
