/* Styl ukończonych zadań */
.task-completed {
  text-decoration: line-through;
  color: gray;
}

/* Styl przycisków Bootstrap */
.btn-primary {
  border-radius: 50px;
  padding: 10px 20px;
  font-size: 1rem;
}

/* Dodatkowe style alertów */
.alert {
  width: 80%;
  min-width: 400px;
  position: fixed;
  left: 10%;
  top: 50px;
  z-index: 9999;
  margin-left: auto;
  margin-right: auto;
}

/* Stylizacja elementów drag & drop */
.drag-handle {
  cursor: move;
  margin-right: 10px;
}

/* Responsywność przycisków na małych ekranach */
@media (max-width: 576px) {
  .table td .btn {
    display: block;
    width: 100%;
    margin-bottom: 5px;
  }

  .table td .btn + .btn {
    margin-left: 0;
  }
}

/* Stylizacja tabeli */
.table {
  width: 100%;
}

.table td, .table th {
  text-align: center;
  vertical-align: middle;
}

/* Dodanie marginesu do głównego kontenera strony, aby przesunąć zawartość w dół */
.container {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
